fastapi==0.110.0
uvicorn[standard]==0.29.0

httpx==0.27.0
pydantic==2.7.0
python-dotenv==1.0.1

numpy==1.26.4
pandas==2.2.2           # phân tích dữ liệu user_details, bookings
scikit-learn==1.5.0     # tính similarity, cosine, evaluate Precision@K
matplotlib==3.8.3       # vẽ biểu đồ đưa vào luận văn
seaborn==0.13.2         # vẽ biểu đồ đẹp hơn
scipy==1.11.4          # tính cosine similarity